.links {
    text-align: center;
    background-color: #fff;
    padding-bottom: 90px;
  }
  
  .links h1 {
    padding-top: 20px;
    font-family: sans-serif;
  }
  
  .links .images-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  
  .links .images-container img {
    max-width: 250px;
    width: 100%;
    border-radius: 4px;
    transition: transform 0.2s;
  }
  
  .links .images-container img:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .links .images-container {
      gap: 20px;
    }
  
    .links .images-container img {
      max-width: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .links .images-container {
      gap: 10px;
    }
  
    .links .images-container img {
      max-width: 150px;
    }
  }
  